---
http_interactions:
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["inertia"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''condenser_api.get_accounts''\n    {\"name\":\"condenser_api.get_accounts\",\"api\":{\"get_account_bandwidth\":42,\"get_account_count\":35,\"get_account_history\":37,\"get_account_references\":32,\"get_account_votes\":57,\"get_accounts\":31,\"get_active_votes\":56,\"get_active_witnesses\":67,\"get_block\":18,\"get_block_header\":17,\"get_chain_properties\":23,\"get_comment_discussions_by_payout\":5,\"get_config\":21,\"get_content\":58,\"get_content_replies\":59,\"get_conversion_requests\":36,\"get_current_median_history_price\":25,\"get_discussions_by_active\":8,\"get_discussions_by_author_before_date\":60,\"get_discussions_by_blog\":14,\"get_discussions_by_cashout\":9,\"get_discussions_by_children\":11,\"get_discussions_by_comments\":15,\"get_discussions_by_created\":7,\"get_discussions_by_feed\":13,\"get_discussions_by_hot\":12,\"get_discussions_by_payout\":3,\"get_discussions_by_promoted\":16,\"get_discussions_by_trending\":6,\"get_discussions_by_votes\":10,\"get_dynamic_global_properties\":22,\"get_escrow\":40,\"get_expiring_vesting_delegations\":46,\"get_feed_history\":24,\"get_hardfork_version\":27,\"get_key_references\":30,\"get_liquidity_queue\":49,\"get_miner_queue\":68,\"get_next_scheduled_hardfork\":28,\"get_open_orders\":48,\"get_ops_in_block\":19,\"get_order_book\":47,\"get_owner_history\":38,\"get_post_discussions_by_payout\":4,\"get_potential_signatures\":53,\"get_recovery_request\":39,\"get_replies_by_last_update\":61,\"get_required_signatures\":52,\"get_reward_fund\":29,\"get_savings_withdraw_from\":43,\"get_savings_withdraw_to\":44,\"get_state\":20,\"get_tags_used_by_author\":2,\"get_transaction\":51,\"get_transaction_hex\":50,\"get_trending_tags\":1,\"get_vesting_delegations\":45,\"get_withdraw_routes\":41,\"get_witness_by_account\":63,\"get_witness_count\":66,\"get_witness_schedule\":26,\"get_witnesses\":62,\"get_witnesses_by_vote\":64,\"lookup_account_names\":33,\"lookup_accounts\":34,\"lookup_witness_accounts\":65,\"set_block_applied_callback\":0,\"verify_account_authority\":55,\"verify_authority\":54}}\n    th_a  api_connection.hpp:109
        call\n\n    {\"call.method\":\"condenser_api.get_accounts\",\"call.params\":[[\"inertia\"]]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":109,"method":"call","hostname":"","thread_name":"th_a","timestamp":"2018-05-13T05:52:53"},"format":"itr
        != _by_name.end(): no method with name ''${name}''","data":{"name":"condenser_api.get_accounts","api":{"get_account_bandwidth":42,"get_account_count":35,"get_account_history":37,"get_account_references":32,"get_account_votes":57,"get_accounts":31,"get_active_votes":56,"get_active_witnesses":67,"get_block":18,"get_block_header":17,"get_chain_properties":23,"get_comment_discussions_by_payout":5,"get_config":21,"get_content":58,"get_content_replies":59,"get_conversion_requests":36,"get[...]
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:52:54 GMT
[...]
- request:
    method: get
    uri: https://rpc.steemviz.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:52:56 GMT
- request:
    method: post
    uri: https://rpc.steemviz.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["inertia"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name [...]
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000527590785694777'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-13T05:52:58.627392","source_commit":"6281621b66e79fe300ea2f018a3180dc3e5a1154","docker_tag":"latest"}'
  recorded_at: Sun, 13 May 2018 05:52:58 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["inertia"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000841586209165330'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":19155,"name":"inertia","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5LC8uBiiaihoPhM16CKktPnfb1Yop7fLicuNVgZm6JvU8yCZ7v",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7xf1TJQJty7WF8GHimaYocqdE6rMeZvy4umuU7rHydbfaXRUYB",1]]},"posting":{"weight_threshold":1,"account_auths":[["booster",1],["frontrunner",1],["utopian.app",1]],"key_auths":[["STM5XhxkaVk76j27qjkvoKY7BoHtKAEBA9omgd37zUgpqgB8oN6ov",1]]},"memo_key":"STM65TuECGXU7bHm5tMrHQVrV8uFdxhwYWZAzzG5658xD5TWuXs4c","json_metadata":"{\"git\":{\"radiator\":{\"https\":{\"type\":\"https\",\"name\":\"radiator\",\"value\":\"https:\/\/github.com\/inertia186\/radiator\",\"projecturl\":\"radiator\"}}},\"squeek\":{\"profilePicture\":\"https:\/\/img1.steemit.com\/0x0\/http:\/\/i.imgur.com\/LbTz5yg.jpg\"},\"version\":\"0.0.1\",\"profile\":{\"email\":\"steemit@martin-studio.com\",\"location\":\"California\",\"timezone\":\"-7\",\"locale\":\"en_US\",\"languages\":[\"en\"],\"profile_image\":\"http:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\"}}","proxy":"","last_owner_update":"2018-05-04T15:30:36","last_account_update":"2018-05-04T15:30:36","created":"2016-07-13T06:44:33","mined":false,"recovery_account":"steem","last_account_recovery":"2016-07-21T05:49:33","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":3022,"can_vote":true,"voting_power":9045,"last_vote_time":"2018-05-13T03:14:06","balance":"3721.908
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"12506.550 SBD","sbd_seconds":"16960568606733","sbd_seconds_last_update":"2018-05-13T04:33:33","sbd_last_interest_payment":"2018-04-25T15:34:06","savings_sbd_balance":"1560.000
        SBD","savings_sbd_seconds":"1865856672000","savings_sbd_seconds_last_update":"2017-12-15T19:21:21","savings_sbd_last_interest_payment":"2017-12-03T17:28:57","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"2.388 STEEM","reward_vesting_balance":"707988.560679
        VESTS","reward_vesting_steem":"347.365 STEEM","vesting_shares":"111001047.411448
        VESTS","delegated_vesting_shares":"5833585.616925 VESTS","received_vesting_shares":"3330387.374098
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":2955501,"posting_rewards":17993539,"proxied_vsf_votes":["2093405921310165","44014963421508",0,0],"witnesses_voted_for":30,"last_post":"2018-05-12T21:33:00","last_root_post":"2018-05-07T00:07:00","average_bandwidth":"32506224136","lifetime_bandwidth":"7600731000000","last_bandwidth_update":"2018-05-13T04:33:33","average_market_bandwidth":"91331281854","lifetime_market_bandwidth":"1001010000000","last_market_bandwidth_update":"2018-05-12T13:43:12","vesting_balance":"0.000
        STEEM","reputation":"125301802533379","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":["aggroed","anyx","arcange","ausbitbank","blockbrothers","cervantes","emrebeyler","followbtcnews","furion","fyrst-witness","good-karma","gtg","helo","jerrybanfield","jesta","klye","netuoso","pfunk","pharesim","qurator","reggaemuffin","riverhead","roelandp","someguy123","steemgigs","teamsteem","thecryptodrive","themarkymark","utopian-io","yabapmatt"],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Sun, 13 May 2018 05:52:59 GMT
recorded_with: VCR 3.0.3
