---
http_interactions:
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":"cosgrove","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        7 bad_cast_exception: Bad Cast
        Invalid cast from string_type to Array
            {"type":"string_type"}
            th_a  variant.cpp:537 get_array
  recorded_at: Sun, 13 May 2018 05:55:13 GMT
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:55:14 GMT
[...]
- request:
    method: get
    uri: https://appbasetest.timcliff.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"End Of File:stringstream","data":{"code":11,"name":"eof_exception","message":"End
        Of File","stack":[{"context":{"level":"error","file":"sstream.cpp","line":109,"method":"peek","hostname":"","timestamp":"2018-05-13T05:55:15"},"format":"stringstream","data":{}},{"context":{"level":"warn","file":"json.cpp","line":478,"method":"from_string","hostname":"","timestamp":"2018-05-13T05:55:15"},"format":"","data":{"str":""}}]}},"id":null}'
  recorded_at: Sun, 13 May 2018 05:55:15 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000982919438886639'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-13T05:55:16.253784","source_commit":"6281621b66e79fe300ea2f018a3180dc3e5a1154","docker_tag":"latest"}'
  recorded_at: Sun, 13 May 2018 05:55:16 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":"cosgrove","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32600,"message":"Invalid Request","data":{"error_id":"865e1455-61f9-4bb4-9633-120793b84880","request":{"amzn_trace_id":"Root=1-5af7d344-836570d14a0036b30eff5147","jussi_request_id":null}}},"id":1}'
  recorded_at: Sun, 13 May 2018 05:55:16 GMT
recorded_with: VCR 3.0.3
