---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Request-Id:
      - 1515870157.477-8461941-436-172.31.18.180-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":18949526,"head_block_id":"0121259679905f4d43f892a75037ee5b763b99cb","time":"2018-01-13T19:02:36","current_witness":"someguy123","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263768473.095
        STEEM","current_supply":"262618930.380 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"5999463.432 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"199303535.154 STEEM","total_vesting_shares":"408152096056.391903
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"278784184.271589
        VESTS","pending_rewarded_vesting_steem":"135425.886 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":19011652,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":18949506,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":14170,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Sat, 13 Jan 2018 19:02:37 GMT
[...]
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"head_block_number":19179498,"head_block_id":"0124a7ea159253e6e134f914247830370018[...]
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["cosgrove"]]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":[]}'
  recorded_at: Sun, 21 Jan 2018 18:47:26 GMT
recorded_with: VCR 3.0.3
