---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["follow_api","get_following",["cosgrove",null,"ignore",100]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - 1515870204.299-8430388-446-172.31.9.230-47.208.249.50
    body:
      encoding: UTF-8
      string: '{"result":[],"id":1}'
  recorded_at: Sat, 13 Jan 2018 19:03:24 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["nobody"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - 1515870205.177-8478173-428-172.31.9.230-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":1573,"name":"nobody","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5KaHbYNUnjZwyhEyueSDDZEKqTpPGqKXSMs6MoJrM2JPUM2H9i",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5KaHbYNUnjZwyhEyueSDDZEKqTpPGqKXSMs6MoJrM2JPUM2H9i",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5KaHbYNUnjZwyhEyueSDDZEKqTpPGqKXSMs6MoJrM2JPUM2H9i",1]]},"memo_key":"STM5KaHbYNUnjZwyhEyueSDDZEKqTpPGqKXSMs6MoJrM2JPUM2H9i","json_metadata":"","proxy":"","last_owner_update":"1970-01-01T00:00:00","last_account_update":"1970-01-01T00:00:00","created":"2016-04-09T11:30:09","mined":true,"owner_challenged":false,"active_challenged":false,"last_owner_proved":"1970-01-01T00:00:00","last_active_proved":"1970-01-01T00:00:00","recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":0,"can_vote":true,"voting_power":9950,"last_vote_time":"2016-09-26T00:42:21","balance":"0.000
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"0.002 SBD","sbd_seconds":"0","sbd_seconds_last_update":"2017-12-26T00:31:51","sbd_last_interest_payment":"2017-12-26T00:31:51","savings_sbd_balance":"0.000
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"1970-01-01T00:00:00","savings_sbd_last_interest_payment":"1970-01-01T00:00:00","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"0.000000
        VESTS","reward_vesting_steem":"0.000 STEEM","vesting_shares":"2087.793775
        VESTS","delegated_vesting_shares":"0.000000 VESTS","received_vesting_shares":"0.000000
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":"253768894542277","to_withdraw":"253768894542277","withdraw_routes":0,"curation_rewards":139,"posting_rewards":0,"proxied_vsf_votes":[0,0,0,0],"witnesses_voted_for":0,"average_bandwidth":264000000,"lifetime_bandwidth":2243000000,"last_bandwidth_update":"2017-04-17T16:15:33","average_market_bandwidth":2640000000,"lifetime_market_bandwidth":"20150000000","last_market_bandwidth_update":"2017-04-17T16:15:33","last_post":"1970-01-01T00:00:00","last_root_post":"1970-01-01T00:00:00","vesting_balance":"0.000
        STEEM","reputation":0,"transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Sat, 13 Jan 2018 19:03:25 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Request-Id:
      - 1515870205.457-8418009-436-172.31.9.230-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":18949542,"head_block_id":"012125a6b606b4ea021b43177c815f9b78885c7b","time":"2018-01-13T19:03:24","current_witness":"blocktrades","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263768509.504
        STEEM","current_supply":"262618964.579 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"5999474.968 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"199303547.940 STEEM","total_vesting_shares":"408152111131.548049
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"278783831.993774
        VESTS","pending_rewarded_vesting_steem":"135425.714 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":19011668,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":18949524,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":14238,"max_virtual_bandwidth":"264241152000000000000"},"id":2}'
  recorded_at: Sat, 13 Jan 2018 19:03:25 GMT
recorded_with: VCR 3.0.3
