---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"head_block_number":12741654,"head_block_id":"00c26c16a2214047ede713f91ec8d503ed70023c","time":"2017-06-12T00:44:15","current_witness":"bhuz","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"251038941.506
        STEEM","current_supply":"250328117.216 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"1713086.541 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"178762653.450 STEEM","total_vesting_shares":"370207826500.512800
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"100387691.109951
        VESTS","pending_rewarded_vesting_steem":"48437.031 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"average_block_size":3444,"maximum_block_size":65536,"current_aslot":12797685,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":12741636,"max_virtual_bandwidth":"5986734968066277376","current_reserve_ratio":20000,"vote_power_reserve_rate":40}}'
  recorded_at: Mon, 12 Jun 2017 00:44:16 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["cosgrove"]]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":[]}'
  recorded_at: Mon, 12 Jun 2017 00:44:19 GMT
recorded_with: VCR 3.0.3
