---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00041759",248.64002168],["0.00041760",17.78895567],["0.00041900",1],["0.00041939",0.70378441],["0.00041999",0.27507546],["0.00042000",1],["0.00042044",29.46011002],["0.00042065",465.19029804],["0.00042100",0.29110367],["0.00042122",1.52655439]],"bids":[["0.00041751",0.48670729],["0.00041744",13.42875623],["0.00041688",27.045765],["0.00041663",1.91973572],["0.00041660",86.6195917],["0.00041659",2.96257555],["0.00041658",1101.72027598],["0.00041575",21],["0.00041481",0.24372604],["0.00041480",2.91706847]],"isFrozen":"0","seq":71820890}'
  recorded_at: Sat, 13 Jan 2018 19:06:52 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_SBD&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00046572",4.05007072],["0.00046573",167.21541363],["0.00046579",411.94566064],["0.00046582",44.99183918],["0.00046627",104.34673842],["0.00046628",576.88547175],["0.00046839",1.06539816],["0.00046853",17.08889222],["0.00046885",4.12471302],["0.00046900",67.31689]],"bids":[["0.00045949",1.08168405],["0.00045948",3.26455994],["0.00045943",21.76602805],["0.00045941",18.31787918],["0.00045930",0.4354],["0.00045279",15.2817147],["0.00045144",0.4338954],["0.00045134",10.559392],["0.00045002",269],["0.00045001",171.19276013]],"isFrozen":"0","seq":18700115}'
  recorded_at: Sat, 13 Jan 2018 19:06:52 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["14318.90829250",0.00096811],["14320.85428361",1.724],["14320.85428362",3],["14321.99999997",0.18369595],["14321.99999999",0.10660212],["14322.00000000",0.03978945],["14322.83237553",0.99283],["14322.83237556",1.745],["14322.83237557",1.069],["14327.99999987",0.00628032]],"bids":[["14279.00000114",0.00955428],["14279.00000113",1.2997247],["14279.00000097",1.01498774],["14279.00000072",0.02],["14279.00000000",0.1],["14278.21500450",0.00021595],["14270.50000690",0.00021607],["14270.50000603",0.04543675],["14270.50000600",0.001],["14270.00000000",1.05115627]],"isFrozen":"0","seq":185526124}'
  recorded_at: Sat, 13 Jan 2018 19:06:52 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-golos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:06:50 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GOLOS","High":0.00002996,"Low":0.00002785,"Volume":388031.89026006,"Last":0.00002951,"BaseVolume":11.23888059,"TimeStamp":"2018-01-13T19:06:50.663","Bid":0.00002952,"Ask":0.00002981,"OpenBuyOrders":325,"OpenSellOrders":1676,"PrevDay":0.00002796,"Created":"2017-01-19T23:23:12.41"}]}'
  recorded_at: Sat, 13 Jan 2018 19:06:53 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-gbg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:06:55 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GBG","High":0.00002866,"Low":0.00002576,"Volume":599321.28285285,"Last":0.00002663,"BaseVolume":16.21298020,"TimeStamp":"2018-01-13T19:06:53.633","Bid":0.00002598,"Ask":0.00002663,"OpenBuyOrders":315,"OpenSellOrders":2315,"PrevDay":0.00002837,"Created":"2017-02-12T00:38:21.023"}]}'
  recorded_at: Sat, 13 Jan 2018 19:06:53 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=usdt-btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:06:50 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":14583.00000000,"Low":13351.00000000,"Volume":3079.83375975,"Last":14270.00000000,"BaseVolume":43429830.99322360,"TimeStamp":"2018-01-13T19:06:54.273","Bid":14270.00000001,"Ask":14310.68168495,"OpenBuyOrders":5362,"OpenSellOrders":5833,"PrevDay":13438.00000001,"Created":"2015-12-11T06:31:40.633"}]}'
  recorded_at: Sat, 13 Jan 2018 19:06:53 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-steem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:06:55 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-STEEM","High":0.00046379,"Low":0.00038309,"Volume":2173080.52842998,"Last":0.00041970,"BaseVolume":929.04314973,"TimeStamp":"2018-01-13T19:06:54.337","Bid":0.00041952,"Ask":0.00041969,"OpenBuyOrders":1588,"OpenSellOrders":6395,"PrevDay":0.00038599,"Created":"2016-04-17T01:22:13.35"}]}'
  recorded_at: Sat, 13 Jan 2018 19:06:53 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-sbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:06:53 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-SBD","High":0.00052100,"Low":0.00044128,"Volume":215300.27525683,"Last":0.00046805,"BaseVolume":104.12225758,"TimeStamp":"2018-01-13T19:06:53.57","Bid":0.00047002,"Ask":0.00047454,"OpenBuyOrders":259,"OpenSellOrders":2416,"PrevDay":0.00045264,"Created":"2016-07-09T19:02:08.943"}]}'
  recorded_at: Sat, 13 Jan 2018 19:06:54 GMT
recorded_with: VCR 3.0.3
