---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00042357",27.22085204],["0.00042358",2.37254407],["0.00042458",0.2887117],["0.00042498",1179.78],["0.00042499",453.43234699],["0.00042500",39.13416494],["0.00042501",541.175],["0.00042502",95.3402804],["0.00042644",161.90119596],["0.00042646",15.76519125]],"bids":[["0.00042013",712.21336003],["0.00042012",16.26577244],["0.00042008",49.53342221],["0.00041981",111.55066252],["0.00041980",182.15857551],["0.00041940",20.02503576],["0.00041926",0.46546264],["0.00041882",3.4622115],["0.00041802",0.47844601],["0.00041798",50.77793196]],"isFrozen":"0","seq":71824699}'
  recorded_at: Sat, 13 Jan 2018 19:26:34 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_SBD&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00046577",66.24341728],["0.00046578",2.5],["0.00046582",44.99183918],["0.00046628",576.88547175],["0.00046839",1.06539816],["0.00046885",4.12471302],["0.00046900",67.31689],["0.00046931",1.7899492],["0.00046937",1.11543948],["0.00046939",1.4020979]],"bids":[["0.00045995",18.61019675],["0.00045991",18.29336185],["0.00045964",20.84641525],["0.00045674",0.7843],["0.00045279",15.2817147],["0.00045194",0.7843],["0.00045162",272.84341203],["0.00045161",213],["0.00045144",0.4338954],["0.00045134",10.559392]],"isFrozen":"0","seq":18700927}'
  recorded_at: Sat, 13 Jan 2018 19:26:34 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["14230.00000001",2.99550154],["14248.52241690",0.10898437],["14250.00000000",1.93059924],["14255.91347020",3],["14259.99999995",0.00073629],["14259.99999999",0.00136733],["14260.00000000",0.00726012],["14261.91347019",1.614],["14268.90022541",0.01249495],["14286.91347016",17.757636]],"bids":[["14230.00000000",1.13085124],["14229.74018794",0.00055447],["14229.38443989",0.06905177],["14227.99999960",0.0001],["14227.42993370",0.00021672],["14227.10648338",0.0350962],["14224.72015661",0.10714285],["14222.99999960",0.0001],["14219.58431550",0.00021684],["14217.99999960",0.0001]],"isFrozen":"0","seq":185531456}'
  recorded_at: Sat, 13 Jan 2018 19:26:34 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-golos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:36 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GOLOS","High":0.00002997,"Low":0.00002795,"Volume":367254.14888330,"Last":0.00002940,"BaseVolume":10.65711573,"TimeStamp":"2018-01-13T19:26:15.95","Bid":0.00002941,"Ask":0.00002997,"OpenBuyOrders":322,"OpenSellOrders":1676,"PrevDay":0.00002827,"Created":"2017-01-19T23:23:12.41"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:34 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-gbg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:35 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GBG","High":0.00002866,"Low":0.00002576,"Volume":597829.63557972,"Last":0.00002602,"BaseVolume":16.16888800,"TimeStamp":"2018-01-13T19:26:36.28","Bid":0.00002600,"Ask":0.00002645,"OpenBuyOrders":318,"OpenSellOrders":2314,"PrevDay":0.00002810,"Created":"2017-02-12T00:38:21.023"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:35 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=usdt-btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:32 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":14583.00000000,"Low":13500.00000000,"Volume":3070.24577958,"Last":14270.00000501,"BaseVolume":43317900.08627064,"TimeStamp":"2018-01-13T19:26:35.95","Bid":14270.00000501,"Ask":14298.99999999,"OpenBuyOrders":5364,"OpenSellOrders":5824,"PrevDay":13600.00000000,"Created":"2015-12-11T06:31:40.633"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:35 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-steem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:33 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-STEEM","High":0.00046379,"Low":0.00038402,"Volume":2180178.07999486,"Last":0.00042298,"BaseVolume":932.18386678,"TimeStamp":"2018-01-13T19:26:36.56","Bid":0.00041937,"Ask":0.00042280,"OpenBuyOrders":1598,"OpenSellOrders":6408,"PrevDay":0.00038722,"Created":"2016-04-17T01:22:13.35"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:35 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-sbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:36 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-SBD","High":0.00052100,"Low":0.00044128,"Volume":214929.28487454,"Last":0.00047175,"BaseVolume":103.96243671,"TimeStamp":"2018-01-13T19:26:36.53","Bid":0.00047175,"Ask":0.00047256,"OpenBuyOrders":255,"OpenSellOrders":2420,"PrevDay":0.00045143,"Created":"2016-07-09T19:02:08.943"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:35 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_feed_history
      X-Jussi-Request-Id:
      - 1515871596.134-8585258-422-172.31.18.180-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"5.219
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"5.422 SBD","quote":"1.000
        STEEM"},{"base":"5.050 SBD","quote":"1.000 STEEM"},{"base":"5.190 SBD","quote":"1.000
        STEEM"},{"base":"5.219 SBD","quote":"1.000 STEEM"},{"base":"5.195 SBD","quote":"1.000
        STEEM"},{"base":"5.224 SBD","quote":"1.000 STEEM"},{"base":"5.208 SBD","quote":"1.000
        STEEM"},{"base":"5.054 SBD","quote":"1.000 STEEM"},{"base":"5.026 SBD","quote":"1.000
        STEEM"},{"base":"5.305 SBD","quote":"1.000 STEEM"},{"base":"5.288 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Request-Id:
      - 1515871596.422-8533861-436-172.31.18.180-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":18950005,"head_block_id":"01212775f95d18dfb85b01f1575efc8868d8b383","time":"2018-01-13T19:26:33","current_witness":"netuoso","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263769557.028
        STEEM","current_supply":"262619729.617 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"6000949.261 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"199304526.300 STEEM","total_vesting_shares":"408153793285.167093
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"278766801.674870
        VESTS","pending_rewarded_vesting_steem":"135417.410 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":19012131,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":18949987,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":15027,"max_virtual_bandwidth":"264241152000000000000"},"id":2}'
  recorded_at: Sat, 13 Jan 2018 19:26:36 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["a-a"]]],"id":7,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - 1515874399.365-8882344-425-172.31.44.249-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":31109,"name":"a-a","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM8C7vsYRn7mYUNtA9AYh2Gd4Lxuo6v1mosJVBLrmP6Zkk3Wg5D2",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6tKzhUpVoxw6cvruAurJ5Y6fPK3o7HwvCYngpVLDKs6yf9zokc",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7Nc2WMp3SUVA2oxp6VQWLtGN7riKRB7dy9bkiRyruMkxM3v5hh",1]]},"memo_key":"STM5hHTcQepM8myWGyEdzTvWCBJEyxTSYjQLSHUbDbPQ9h9HX5haC","json_metadata":"","proxy":"","last_owner_update":"1970-01-01T00:00:00","last_account_update":"1970-01-01T00:00:00","created":"2016-07-23T10:55:54","mined":false,"owner_challenged":false,"active_challenged":false,"last_owner_proved":"1970-01-01T00:00:00","last_active_proved":"1970-01-01T00:00:00","recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":0,"can_vote":true,"voting_power":10000,"last_vote_time":"2016-07-23T10:55:54","balance":"6.154
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"0.000 SBD","sbd_seconds":"0","sbd_seconds_last_update":"1970-01-01T00:00:00","sbd_last_interest_payment":"1970-01-01T00:00:00","savings_sbd_balance":"0.000
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"1970-01-01T00:00:00","savings_sbd_last_interest_payment":"1970-01-01T00:00:00","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"0.000000
        VESTS","reward_vesting_steem":"0.000 STEEM","vesting_shares":"0.000000 VESTS","delegated_vesting_shares":"0.000000
        VESTS","received_vesting_shares":"0.000000 VESTS","vesting_withdraw_rate":"0.000000
        VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":"12723594621","to_withdraw":"12723594621","withdraw_routes":0,"curation_rewards":0,"posting_rewards":0,"proxied_vsf_votes":[0,0,0,0],"witnesses_voted_for":0,"average_bandwidth":99000000,"lifetime_bandwidth":99000000,"last_bandwidth_update":"2017-06-13T07:49:21","average_market_bandwidth":0,"lifetime_market_bandwidth":0,"last_market_bandwidth_update":"1970-01-01T00:00:00","last_post":"1970-01-01T00:00:00","last_root_post":"1970-01-01T00:00:00","vesting_balance":"0.000
        STEEM","reputation":0,"transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":7}'
  recorded_at: Sat, 13 Jan 2018 20:13:19 GMT
[...]
