---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00042355",8.94071742],["0.00042358",2.37254407],["0.00042458",0.2887117],["0.00042500",39.13416494],["0.00042502",95.3402804],["0.00042569",239.01772846],["0.00042644",161.90119596],["0.00042712",2.85703983],["0.00042755",2.54987712],["0.00042770",25.82308348]],"bids":[["0.00042238",136.32169505],["0.00042200",2.29473934],["0.00042013",100.53402665],["0.00042012",16.26577244],["0.00042008",49.53342221],["0.00041981",240],["0.00041980",182.15857551],["0.00041940",20.02503576],["0.00041926",0.46546264],["0.00041900",0.337]],"isFrozen":"0","seq":71825180}'
  recorded_at: Sat, 13 Jan 2018 19:29:12 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_SBD&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00046576",43.18443888],["0.00046577",219.19399499],["0.00046578",2.5],["0.00046582",44.99183918],["0.00046628",576.88547175],["0.00046839",1.06539816],["0.00046885",4.12471302],["0.00046900",67.31689],["0.00046931",1.7899492],["0.00046937",1.11543948]],"bids":[["0.00046115",5.11328201],["0.00046114",0.4337],["0.00045964",20.84641525],["0.00045674",0.7843],["0.00045279",15.2817147],["0.00045194",0.7843],["0.00045167",4.4280116],["0.00045144",0.4338954],["0.00045134",10.559392],["0.00045004",213]],"isFrozen":"0","seq":18701026}'
  recorded_at: Sat, 13 Jan 2018 19:29:12 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["14190.49656782",1.01473672],["14190.49656783",0.38395603],["14190.49656787",0.00650344],["14190.50543400",2.80053376],["14199.63767923",0.039],["14200.00000000",0.02132289],["14206.93928019",1.08],["14211.01751295",0.00898463],["14211.24647400",0.0002179],["14212.91347020",3]],"bids":[["14165.67823070",1.64414936],["14165.67823060",0.02122749],["14158.85000013",0.06371116],["14158.85000000",0.00017568],["14156.12877699",0.00010761],["14156.00000000",0.01412828],["14155.50000000",0.00021193],["14151.00000000",0.01],["14150.33095266",0.001591],["14150.00000000",0.33872442]],"isFrozen":"0","seq":185532393}'
  recorded_at: Sat, 13 Jan 2018 19:29:13 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-golos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:29:14 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GOLOS","High":0.00002997,"Low":0.00002795,"Volume":367254.14888330,"Last":0.00002940,"BaseVolume":10.65711573,"TimeStamp":"2018-01-13T19:28:58.933","Bid":0.00002941,"Ask":0.00002997,"OpenBuyOrders":322,"OpenSellOrders":1676,"PrevDay":0.00002827,"Created":"2017-01-19T23:23:12.41"}]}'
  recorded_at: Sat, 13 Jan 2018 19:29:13 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-gbg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:29:13 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GBG","High":0.00002866,"Low":0.00002576,"Volume":597828.06352759,"Last":0.00002578,"BaseVolume":16.15886160,"TimeStamp":"2018-01-13T19:29:05.45","Bid":0.00002579,"Ask":0.00002638,"OpenBuyOrders":313,"OpenSellOrders":2318,"PrevDay":0.00002818,"Created":"2017-02-12T00:38:21.023"}]}'
  recorded_at: Sat, 13 Jan 2018 19:29:13 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=usdt-btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:29:14 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":14583.00000000,"Low":13500.00000000,"Volume":3075.06959178,"Last":14200.00000000,"BaseVolume":43387732.64282596,"TimeStamp":"2018-01-13T19:29:14.95","Bid":14207.76005437,"Ask":14218.22000000,"OpenBuyOrders":5334,"OpenSellOrders":5833,"PrevDay":13598.99999999,"Created":"2015-12-11T06:31:40.633"}]}'
  recorded_at: Sat, 13 Jan 2018 19:29:13 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-steem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:29:11 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-STEEM","High":0.00046379,"Low":0.00038402,"Volume":2180031.24028806,"Last":0.00042130,"BaseVolume":932.22098119,"TimeStamp":"2018-01-13T19:29:15.357","Bid":0.00042000,"Ask":0.00042130,"OpenBuyOrders":1607,"OpenSellOrders":6414,"PrevDay":0.00039104,"Created":"2016-04-17T01:22:13.35"}]}'
  recorded_at: Sat, 13 Jan 2018 19:29:14 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-sbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:29:14 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-SBD","High":0.00052100,"Low":0.00044128,"Volume":215195.69291022,"Last":0.00047105,"BaseVolume":104.08797971,"TimeStamp":"2018-01-13T19:29:14.857","Bid":0.00046790,"Ask":0.00047263,"OpenBuyOrders":255,"OpenSellOrders":2419,"PrevDay":0.00045143,"Created":"2016-07-09T19:02:08.943"}]}'
  recorded_at: Sat, 13 Jan 2018 19:29:14 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - 1515871754.573-8593020-422-172.31.44.249-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":0,"current_median_history":{"base":"5.219 SBD","quote":"1.000
        STEEM"},"price_history":[{"base":"5.422 SBD","quote":"1.000 STEEM"},{"base":"5.050
        SBD","quote":"1.000 STEEM"},{"base":"5.190 SBD","quote":"1.000 STEEM"},{"base":"5.219
        SBD","quote":"1.000 STEEM"},{"base":"5.195 SBD","quote":"1.000 STEEM"},{"base":"5.224
        SBD","quote":"1.000 STEEM"},{"base":"5.208 SBD","quote":"1.000 STEEM"},{"base":"5.054
        SBD","quote":"1.000 STEEM"},{"base":"5.026 SBD","quote":"1.000 STEEM"},{"base":"5.305
        SBD","quote":"1.000 STEEM"},{"base":"5.288 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Request-Id:
      - 1515871754.877-8629699-436-172.31.44.249-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":18950058,"head_block_id":"012127aa4a941a3feb7de6113ba2e7ad5283d15b","time":"2018-01-13T19:29:12","current_witness":"curie","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263769676.630
        STEEM","current_supply":"262619817.502 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"6001114.793 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"199301553.630 STEEM","total_vesting_shares":"408147668788.767023
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"278767986.097134
        VESTS","pending_rewarded_vesting_steem":"135417.990 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":19012184,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":18950043,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":14897,"max_virtual_bandwidth":"264241152000000000000"},"id":2}'
  recorded_at: Sat, 13 Jan 2018 19:29:14 GMT
[...]
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"current_median_history":{"base":"4.863 SBD","quote":"1.000
        STEEM"},"price_history":[{"[...]
[...]
