---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00030162",274.84398271],["0.00030280",2.34145779],["0.00030331",25.53611772],["0.00030399",0.40599058],["0.00030402",2.33205875],["0.00030433",0.35707392],["0.00030438",16.4653395],["0.00030500",0.36611667],["0.00030525",2.32265748],["0.00030535",42.52147675]],"bids":[["0.00030161",96.86869919],["0.00030144",13.51441283],["0.00030143",450.60784164],["0.00030127",2.4514389],["0.00030050",0.9983361],["0.00030042",32.07661241],["0.00029992",1],["0.00029935",12.68446632],["0.00029845",0.40170053],["0.00029664",168.79867393]],"isFrozen":"0","seq":83948532}'
  recorded_at: Sun, 13 May 2018 05:52:03 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_SBD&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00028447",1.11067853],["0.00028539",3],["0.00028649",3],["0.00028672",140.97317347],["0.00028683",1.74990385],["0.00028686",0.86487234],["0.00028739",557.68905645],["0.00028785",1.0435],["0.00028898",6],["0.00028931",0.83202981]],"bids":[["0.00028001",173.89967564],["0.00028000",591.78036488],["0.00027650",0.76831826],["0.00027481",10],["0.00027480",975.2547307],["0.00027479",1473.85276029],["0.00027478",1869.19811664],["0.00027082",0.9152],["0.00027034",2.40421701],["0.00027012",1658.22275284]],"isFrozen":"0","seq":22880400}'
  recorded_at: Sun, 13 May 2018 05:52:03 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["8400.00000000",0.53869528],["8401.65883948",0.00071556],["8407.36030747",0.00673712],["8408.99556380",0.00023844],["8414.03000000",0.003],["8414.31929840",0.03],["8416.38449000",0.00023823],["8417.88582362",0.00846629],["8418.75312019",2.994],["8420.22000000",0.0013255]],"bids":[["8399.00000000",1.03692725],["8380.80966338",0.4],["8380.41619672",0.4],["8380.32702653",0.01050555],["8380.00000000",0.02422588],["8379.05236560",0.0002381],["8374.21929840",0.03],["8369.32151782",0.0046837],["8369.16000000",0.003],["8362.64868724",0.01670383]],"isFrozen":"0","seq":239043642}'
  recorded_at: Sun, 13 May 2018 05:52:03 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-golos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 13 May 2018 05:52:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GOLOS","High":0.00000893,"Low":0.00000829,"Volume":120879.09545822,"Last":0.00000852,"BaseVolume":1.03918205,"TimeStamp":"2018-05-13T05:51:03.187","Bid":0.00000852,"Ask":0.00000868,"OpenBuyOrders":97,"OpenSellOrders":1988,"PrevDay":0.00000887,"Created":"2017-01-19T23:23:12.41"}]}'
  recorded_at: Sun, 13 May 2018 05:52:17 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-gbg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 13 May 2018 05:52:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GBG","High":0.00000899,"Low":0.00000797,"Volume":83567.78769618,"Last":0.00000841,"BaseVolume":0.71069668,"TimeStamp":"2018-05-13T05:52:09.643","Bid":0.00000815,"Ask":0.00000834,"OpenBuyOrders":67,"OpenSellOrders":1839,"PrevDay":0.00000803,"Created":"2017-02-12T00:38:21.023"}]}'
  recorded_at: Sun, 13 May 2018 05:52:17 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=usdt-btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 13 May 2018 05:52:02 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":8649.33300003,"Low":8177.00000000,"Volume":2526.25105403,"Last":8398.71888009,"BaseVolume":21162330.99030817,"TimeStamp":"2018-05-13T05:52:01.72","Bid":8393.32000000,"Ask":8398.71888009,"OpenBuyOrders":2650,"OpenSellOrders":2705,"PrevDay":8310.00000000,"Created":"2015-12-11T06:31:40.633"}]}'
  recorded_at: Sun, 13 May 2018 05:52:17 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-steem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 13 May 2018 05:52:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-STEEM","High":0.00034566,"Low":0.00030500,"Volume":282260.37690388,"Last":0.00033664,"BaseVolume":91.40497793,"TimeStamp":"2018-05-13T05:52:17.3","Bid":0.00033631,"Ask":0.00033813,"OpenBuyOrders":433,"OpenSellOrders":3485,"PrevDay":0.00031911,"Created":"2016-04-17T01:22:13.35"}]}'
  recorded_at: Sun, 13 May 2018 05:52:17 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-sbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 13 May 2018 05:52:18 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-SBD","High":0.00027685,"Low":0.00024074,"Volume":114354.36754885,"Last":0.00026503,"BaseVolume":29.28131559,"TimeStamp":"2018-05-13T05:52:16.143","Bid":0.00026389,"Ask":0.00026706,"OpenBuyOrders":144,"OpenSellOrders":1883,"PrevDay":0.00024801,"Created":"2016-07-09T19:02:08.943"}]}'
  recorded_at: Sun, 13 May 2018 05:52:18 GMT
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''condenser_api.get_feed_history''\n    {\"name\":\"condenser_api.get_feed_history\",\"api\":{\"get_account_bandwidth\":42,\"get_account_count\":35,\"get_account_history\":37,\"get_account_references\":32,\"get_account_votes\":57,\"get_accounts\":31,\"get_active_votes\":56,\"get_active_witnesses\":67,\"get_block\":18,\"get_block_header\":17,\"get_chain_properties\":23,\"get_comment_discussions_by_payout\":5,\"get_config\":21,\"get_content\":58,\"get_content_replies\":59,\"get_conversion_requests\":36,\"get_current_median_history_price\":25,\"get_discussions_by_active\":8,\"get_discussions_by_author_before_date\":60,\"get_discussions_by_blog\":14,\"get_discussions_by_cashout\":9,\"get_discussions_by_children\":11,\"get_discussions_by_comments\":15,\"get_discussions_by_created\":7,\"get_discussions_by_feed\":13,\"get_discussions_by_hot\":12,\"get_discussions_by_payout\":3,\"get_discussions_by_promoted\":16,\"get_discussions_by_trending\":6,\"get_discussions_by_votes\":10,\"get_dynamic_global_properties\":22,\"get_escrow\":40,\"get_expiring_vesting_delegations\":46,\"get_feed_history\":24,\"get_hardfork_version\":27,\"get_key_references\":30,\"get_liquidity_queue\":49,\"get_miner_queue\":68,\"get_next_scheduled_hardfork\":28,\"get_open_orders\":48,\"get_ops_in_block\":19,\"get_order_book\":47,\"get_owner_history\":38,\"get_post_discussions_by_payout\":4,\"get_potential_signatures\":53,\"get_recovery_request\":39,\"get_replies_by_last_update\":61,\"get_required_signatures\":52,\"get_reward_fund\":29,\"get_savings_withdraw_from\":43,\"get_savings_withdraw_to\":44,\"get_state\":20,\"get_tags_used_by_author\":2,\"get_transaction\":51,\"get_transaction_hex\":50,\"get_trending_tags\":1,\"get_vesting_delegations\":45,\"get_withdraw_routes\":41,\"get_witness_by_account\":63,\"get_witness_count\":66,\"get_witness_schedule\":26,\"get_witnesses\":62,\"get_witnesses_by_vote\":64,\"lookup_account_names\":33,\"lookup_accounts\":34,\"lookup_witness_accounts\":65,\"set_block_applied_callback\":0,\"verify_account_authority\":55,\"verify_authority\":54}}\n    th_a  api_connection.hpp:109
        call\n\n    {\"call.method\":\"condenser_api.get_feed_history\",\"call.params\":[]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":109,"method":"call","hostname":"","thread_name":"th_a","timestamp":"2018-05-13T05:52:20"},"format":"itr
        != _by_name.end(): no method with name ''${name}''","data":{"name":"condenser_api.get_feed_history","api":{"get_account_bandwidth":42,"get_account_count":35,"get_account_history":37,"get_account_references":32,"get_account_votes":57,"get_accounts":31,"get_active_votes":56,"get_active_witnesses":67,"get_block":18,"get_block_header":17,"get_chain_properties":23,"get_comment_discussions_by_payout":5,"get_config":21,"get_content":58,"get_content_replies":59,"get_conversion_requests":36,[...]
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:52:21 GMT
[...]
- request:
    method: get
    uri: https://rpc.steemviz.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:52:23 GMT
- request:
    method: post
    uri: https://rpc.steemviz.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''conde[...]
- request:
    method: get
    uri: https://steemd.privex.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:52:25 GMT
- request:
    method: post
    uri: https://steemd.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''conde[...]
- request:
    method: get
    uri: https://steemd.minnowsupportproject.org/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Sun, 13 May 2018 05:52:27 GMT
- request:
    method: post
    uri: https://steemd.minnowsupportproject.org/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method wi[...]
- request:
    method: get
    uri: https://appbasetest.timcliff.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"End Of File:stringstream","data":{"code":11,"name":"eof_exception","message":"End
        Of File","stack":[{"context":{"level":"error","file":"sstream.cpp","line":109,"method":"peek","hostname":"","timestamp":"2018-05-13T05:52:29"},"format":"stringstream","data":{}},{"context":{"level":"warn","file":"json.cpp","line":478,"method":"from_string","hostname":"","timestamp":"2018-05-13T05:52:29"},"format":"","data":{"str":""}}]}},"id":null}'
  recorded_at: Sun, 13 May 2018 05:52:30 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000350527320114483'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-13T05:52:30.484381","source_commit":"6281621b66e79fe300ea2f018a3180dc3e5a1154","docker_tag":"latest"}'
  recorded_at: Sun, 13 May 2018 05:52:30 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000450398215585753'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"2.834
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"3.513 SBD","quote":"1.000
        STEEM"},{"base":"3.491 SBD","quote":"1.000 STEEM"},{"base":"3.486 SBD","quote":"1.000
        STEEM"},{"base":"3.480 SBD","quote":"1.000 STEEM"},{"base":"3.479 SBD","quote":"1.000
        STEEM"},{"base":"3.465 SBD","quote":"1.000 STEEM"},{"base":"3.467 SBD","quote":"1.000
        STEEM"},{"base":"3.452 SBD","quote":"1.000 STEEM"},{"base":"3.387 SBD","quote":"1.000
        STEEM"},{"base":"3.381 SBD","quote":"1.000 STEEM"},{"base":"3.384 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000231466293903170'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":22386162,"head_block_id":"015595f2939efdafd508e6f9d17b931affe3ec62","time":"2018-05-13T05:52:30","current_witness":"curie","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273038769.187
        STEEM","current_supply":"268270712.261 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13512673.330 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191177183.154 STEEM","total_vesting_shares":"389087706468.508138
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"371438627.028833
        VESTS","pending_rewarded_vesting_steem":"181076.164 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22451850,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22386147,"vote_power_reserve_rate":10,"average_block_size":11463,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sun, 13 May 2018 05:52:32 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["a-a"]],"id":10}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000905410866094141'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":31109,"name":"a-a","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM8C7vsYRn7mYUNtA9AYh2Gd4Lxuo6v1mosJVBLrmP6Zkk3Wg5D2",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6tKzhUpVoxw6cvruAurJ5Y6fPK3o7HwvCYngpVLDKs6yf9zokc",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7Nc2WMp3SUVA2oxp6VQWLtGN7riKRB7dy9bkiRyruMkxM3v5hh",1]]},"memo_key":"STM5hHTcQepM8myWGyEdzTvWCBJEyxTSYjQLSHUbDbPQ9h9HX5haC","json_metadata":"","proxy":"","last_owner_update":"1970-01-01T00:00:00","last_account_update":"1970-01-01T00:00:00","created":"2016-07-23T10:55:54","mined":false,"recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":0,"can_vote":true,"voting_power":10000,"last_vote_time":"2016-07-23T10:55:54","balance":"6.154
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"0.000 SBD","sbd_seconds":"0","sbd_seconds_last_update":"1970-01-01T00:00:00","sbd_last_interest_payment":"1970-01-01T00:00:00","savings_sbd_balance":"0.000
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"1970-01-01T00:00:00","savings_sbd_last_interest_payment":"1970-01-01T00:00:00","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"0.000000
        VESTS","reward_vesting_steem":"0.000 STEEM","vesting_shares":"0.000000 VESTS","delegated_vesting_shares":"0.000000
        VESTS","received_vesting_shares":"0.000000 VESTS","vesting_withdraw_rate":"0.000000
        VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":"12723594621","to_withdraw":"12723594621","withdraw_routes":0,"curation_rewards":0,"posting_rewards":0,"proxied_vsf_votes":[0,0,0,0],"witnesses_voted_for":0,"last_post":"1970-01-01T00:00:00","last_root_post":"1970-01-01T00:00:00","average_bandwidth":99000000,"lifetime_bandwidth":99000000,"last_bandwidth_update":"2017-06-13T07:49:21","average_market_bandwidth":0,"lifetime_market_bandwidth":0,"last_market_bandwidth_update":"1970-01-01T00:00:00","vesting_balance":"0.000
        STEEM","reputation":0,"transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":10}'
  recorded_at: Sun, 13 May 2018 05:52:47 GMT
[...]
