---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00042357",27.22085204],["0.00042358",2.37254407],["0.00042458",0.2887117],["0.00042497",527.958],["0.00042499",453.43234699],["0.00042500",39.13416494],["0.00042502",95.3402804],["0.00042644",161.90119596],["0.00042646",15.76519125],["0.00042712",2.85703983]],"bids":[["0.00042013",712.21336003],["0.00042012",16.26577244],["0.00042008",49.53342221],["0.00041981",111.55066252],["0.00041980",182.15857551],["0.00041940",20.02503576],["0.00041926",0.46546264],["0.00041882",3.4622115],["0.00041802",0.47844601],["0.00041798",50.77793196]],"isFrozen":"0","seq":71824709}'
  recorded_at: Sat, 13 Jan 2018 19:26:38 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_SBD&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00046577",63.66665112],["0.00046578",2.5],["0.00046582",44.99183918],["0.00046628",576.88547175],["0.00046839",1.06539816],["0.00046885",4.12471302],["0.00046900",67.31689],["0.00046931",1.7899492],["0.00046937",1.11543948],["0.00046939",1.4020979]],"bids":[["0.00045995",15.3489727],["0.00045992",3.26143677],["0.00045991",18.29336185],["0.00045964",20.84641525],["0.00045674",0.7843],["0.00045279",15.2817147],["0.00045194",0.7843],["0.00045162",272.84341203],["0.00045161",213],["0.00045160",447]],"isFrozen":"0","seq":18700931}'
  recorded_at: Sat, 13 Jan 2018 19:26:38 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["14230.00000001",2.62268193],["14248.52241690",0.10898437],["14250.00000000",1.93059924],["14253.91347020",3],["14255.91347019",1.634],["14259.99999995",0.00073629],["14259.99999999",0.00136733],["14260.00000000",0.00726012],["14267.67177666",0.8],["14268.90022541",0.01249495]],"bids":[["14230.00000000",1.13085124],["14229.74018794",0.00055447],["14229.38443989",0.06905177],["14227.99999960",0.0001],["14227.42993370",0.00021672],["14227.10648338",0.0350962],["14224.72015661",0.10714285],["14222.99999960",0.0001],["14219.58431553",0.5],["14219.58431550",0.00021684]],"isFrozen":"0","seq":185531469}'
  recorded_at: Sat, 13 Jan 2018 19:26:38 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-golos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GOLOS","High":0.00002997,"Low":0.00002795,"Volume":367254.14888330,"Last":0.00002940,"BaseVolume":10.65711573,"TimeStamp":"2018-01-13T19:26:15.95","Bid":0.00002941,"Ask":0.00002997,"OpenBuyOrders":322,"OpenSellOrders":1676,"PrevDay":0.00002827,"Created":"2017-01-19T23:23:12.41"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:39 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-gbg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GBG","High":0.00002866,"Low":0.00002576,"Volume":597829.63557972,"Last":0.00002602,"BaseVolume":16.16888800,"TimeStamp":"2018-01-13T19:26:36.797","Bid":0.00002600,"Ask":0.00002645,"OpenBuyOrders":318,"OpenSellOrders":2314,"PrevDay":0.00002810,"Created":"2017-02-12T00:38:21.023"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:41 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=usdt-btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:37 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":14583.00000000,"Low":13500.00000000,"Volume":3070.24577958,"Last":14270.00000501,"BaseVolume":43317900.08627064,"TimeStamp":"2018-01-13T19:26:37.53","Bid":14270.00000501,"Ask":14298.99999999,"OpenBuyOrders":5364,"OpenSellOrders":5824,"PrevDay":13600.00000000,"Created":"2015-12-11T06:31:40.633"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:42 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-steem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:39 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-STEEM","High":0.00046379,"Low":0.00038402,"Volume":2179057.98039276,"Last":0.00042297,"BaseVolume":931.75949269,"TimeStamp":"2018-01-13T19:26:43.86","Bid":0.00041937,"Ask":0.00042297,"OpenBuyOrders":1597,"OpenSellOrders":6403,"PrevDay":0.00038893,"Created":"2016-04-17T01:22:13.35"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:42 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-sbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:26:42 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-SBD","High":0.00052100,"Low":0.00044128,"Volume":214929.28487454,"Last":0.00047175,"BaseVolume":103.96243671,"TimeStamp":"2018-01-13T19:26:39.187","Bid":0.00047175,"Ask":0.00047256,"OpenBuyOrders":255,"OpenSellOrders":2420,"PrevDay":0.00045143,"Created":"2016-07-09T19:02:08.943"}]}'
  recorded_at: Sat, 13 Jan 2018 19:26:42 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_feed_history
      X-Jussi-Request-Id:
      - 1515871603.016-8543538-422-172.31.44.249-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"5.219
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"5.422 SBD","quote":"1.000
        STEEM"},{"base":"5.050 SBD","quote":"1.000 STEEM"},{"base":"5.190 SBD","quote":"1.000
        STEEM"},{"base":"5.219 SBD","quote":"1.000 STEEM"},{"base":"5.195 SBD","quote":"1.000
        STEEM"},{"base":"5.224 SBD","quote":"1.000 STEEM"},{"base":"5.208 SBD","quote":"1.000
        STEEM"},{"base":"5.054 SBD","quote":"1.000 STEEM"},{"base":"5.026 SBD","quote":"1.000
        STEEM"},{"base":"5.305 SBD","quote":"1.000 STEEM"},{"base":"5.288 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Request-Id:
      - 1515871603.404-8612511-436-172.31.44.249-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":18950008,"head_block_id":"01212778d1a9009348237a08dbfb733979922f5b","time":"2018-01-13T19:26:42","current_witness":"curie","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263769563.711
        STEEM","current_supply":"262619732.580 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"6000968.675 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"199304528.145 STEEM","total_vesting_shares":"408153794979.366792
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"278773968.995045
        VESTS","pending_rewarded_vesting_steem":"135420.910 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":19012134,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":18949987,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":15057,"max_virtual_bandwidth":"264241152000000000000"},"id":2}'
  recorded_at: Sat, 13 Jan 2018 19:26:43 GMT
[...]
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"current_median_history":{"base":"4.863 SBD","quote":"1.000
        STEEM"},"price_history":[{"[...]
[...]
