---
http_interactions:
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"current_median_history":{"base":"10.097 GBG","quote":"1.000
        GOLOS"},"price_history":[{"base":"1.000 GBG","quote":"0.094 GOLOS"},{"base":"10.694
        GBG","quote":"1.000 GOLOS"},{"base":"11.074 GBG","quote":"1.000 GOLOS"},{"base":"10.960
        GBG","quote":"1.000 GOLOS"},{"base":"10.960 GBG","quote":"1.000 GOLOS"},{"base":"11.105
        GBG","quote":"1.000 GOLOS"},{"base":"11.136 GBG","quote":"1.000 GOLOS"},{"base":"11.074
        GBG","quote":"1.000 GOLOS"},{"base":"11.163 GBG","quote":"1.000 GOLOS"},{"base":"11.169
        GBG","quote":"1.000 GOLOS"},{"base":"11.169 GBG"[...]
