---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00042129",53.21176757],["0.00042130",25.17660712],["0.00042614",9.7523098],["0.00042622",193.98364695],["0.00042644",161.90119596],["0.00042646",15.76519125],["0.00042754",27.22085204],["0.00042755",2.54987712],["0.00042770",25.82308348],["0.00042821",0.23786934]],"bids":[["0.00041981",84.56580357],["0.00041973",98.19341278],["0.00041949",111.52716296],["0.00041948",2684.30290185],["0.00041940",20.02503576],["0.00041930",2.97357501],["0.00041927",0.23898681],["0.00041926",0.46546264],["0.00041920",51.64275572],["0.00041831",68.29855444]],"isFrozen":"0","seq":71823756}'
  recorded_at: Sat, 13 Jan 2018 19:21:45 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_SBD&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00046577",83.90118576],["0.00046578",2.5],["0.00046581",219.19399499],["0.00046582",44.99183918],["0.00046628",576.88547175],["0.00046839",1.06539816],["0.00046885",4.12471302],["0.00046900",67.31689],["0.00046931",1.7899492],["0.00046937",1.11543948]],"bids":[["0.00046168",0.4332],["0.00045967",4.069292],["0.00045964",42.64392325],["0.00045279",15.2817147],["0.00045144",0.4338954],["0.00045134",10.559392],["0.00045032",0.4332],["0.00045018",255.56728953],["0.00045017",213],["0.00045000",21.49975915]],"isFrozen":"0","seq":18700726}'
  recorded_at: Sat, 13 Jan 2018 19:21:46 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["14300.88888745",2.162286],["14300.88888761",0.2489494],["14300.88888763",1.01498807],["14300.88888778",0.5],["14300.88888781",0.8],["14300.88888784",0.00396385],["14300.88888888",0.68595545],["14301.52566900",0.00043304],["14309.99999990",0.00069881],["14309.99999994",0.00066376]],"bids":[["14280.00000000",0.009598],["14271.00000000",0.05915024],["14269.99997640",0.00021608],["14263.93554820",0.00021617],["14263.44614628",0.02734263],["14254.50961030",0.00021631],["14252.88396020",1.407],["14250.00000000",0.10605736],["14248.52241690",0.0002164],["14247.15396568",0.00350947]],"isFrozen":"0","seq":185530014}'
  recorded_at: Sat, 13 Jan 2018 19:21:46 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-golos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:21:48 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GOLOS","High":0.00002997,"Low":0.00002795,"Volume":377630.82799085,"Last":0.00002958,"BaseVolume":10.95144928,"TimeStamp":"2018-01-13T19:21:21.277","Bid":0.00002957,"Ask":0.00002997,"OpenBuyOrders":324,"OpenSellOrders":1674,"PrevDay":0.00002787,"Created":"2017-01-19T23:23:12.41"}]}'
  recorded_at: Sat, 13 Jan 2018 19:21:46 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-gbg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:21:46 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GBG","High":0.00002866,"Low":0.00002576,"Volume":597829.63557972,"Last":0.00002602,"BaseVolume":16.16888800,"TimeStamp":"2018-01-13T19:21:47.86","Bid":0.00002600,"Ask":0.00002651,"OpenBuyOrders":318,"OpenSellOrders":2314,"PrevDay":0.00002810,"Created":"2017-02-12T00:38:21.023"}]}'
  recorded_at: Sat, 13 Jan 2018 19:21:46 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=usdt-btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:21:45 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":14583.00000000,"Low":13500.00000000,"Volume":3070.56078781,"Last":14347.00000000,"BaseVolume":43312933.98322376,"TimeStamp":"2018-01-13T19:21:47.56","Bid":14280.00000502,"Ask":14344.00000000,"OpenBuyOrders":5369,"OpenSellOrders":5829,"PrevDay":13520.00000000,"Created":"2015-12-11T06:31:40.633"}]}'
  recorded_at: Sat, 13 Jan 2018 19:21:46 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-steem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:21:46 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-STEEM","High":0.00046379,"Low":0.00038402,"Volume":2180498.39285345,"Last":0.00042473,"BaseVolume":932.25137251,"TimeStamp":"2018-01-13T19:21:47.717","Bid":0.00042012,"Ask":0.00042462,"OpenBuyOrders":1601,"OpenSellOrders":6404,"PrevDay":0.00038615,"Created":"2016-04-17T01:22:13.35"}]}'
  recorded_at: Sat, 13 Jan 2018 19:21:46 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-sbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:21:44 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-SBD","High":0.00052100,"Low":0.00044128,"Volume":214912.54269575,"Last":0.00046850,"BaseVolume":103.95132623,"TimeStamp":"2018-01-13T19:21:47.873","Bid":0.00046900,"Ask":0.00047274,"OpenBuyOrders":252,"OpenSellOrders":2419,"PrevDay":0.00045142,"Created":"2016-07-09T19:02:08.943"}]}'
  recorded_at: Sat, 13 Jan 2018 19:21:47 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - 1515871308.026-8579728-422-172.31.18.180-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":0,"current_median_history":{"base":"5.219 SBD","quote":"1.000
        STEEM"},"price_history":[{"base":"5.422 SBD","quote":"1.000 STEEM"},{"base":"5.050
        SBD","quote":"1.000 STEEM"},{"base":"5.190 SBD","quote":"1.000 STEEM"},{"base":"5.219
        SBD","quote":"1.000 STEEM"},{"base":"5.195 SBD","quote":"1.000 STEEM"},{"base":"5.224
        SBD","quote":"1.000 STEEM"},{"base":"5.208 SBD","quote":"1.000 STEEM"},{"base":"5.054
        SBD","quote":"1.000 STEEM"},{"base":"5.026 SBD","quote":"1.000 STEEM"},{"base":"5.305
        SBD","quote":"1.000 STEEM"},{"base":"5.288 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Request-Id:
      - 1515871308.367-8581120-436-172.31.18.180-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":18949909,"head_block_id":"01212715b4a0431730ea35125c3050a97224374b","time":"2018-01-13T19:21:45","current_witness":"curie","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263769340.107
        STEEM","current_supply":"262619592.396 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"6000533.307 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"199304173.501 STEEM","total_vesting_shares":"408153137440.373596
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"278572614.427118
        VESTS","pending_rewarded_vesting_steem":"135322.587 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":19012035,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":18949889,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":13702,"max_virtual_bandwidth":"264241152000000000000"},"id":2}'
  recorded_at: Sat, 13 Jan 2018 19:21:48 GMT
recorded_with: VCR 3.0.3
