---
http_interactions:
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_witnesses_by_vote",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[{"id":211,"owner":"arcange","created":"2016-10-18T12:36:09","url":"https://golos.io/ru--delegaty/@arcange/arcange-otchet-delegata-8-specialnyi-vypusk-odin-god-na-golose","votes":"146164077530288767","virtual_last_update":"2588409841036197926237806117","virtual_position":"105461971172467700779152624456609788771","virtual_scheduled_time":"2588411447589598161054322267","total_missed":395,"last_aslot":13029020,"last_confirmed_block_num":12984059,"pow_worker":0,"signing_key":"GLS7Q3iZkBe4ukfPeeW1iHwaDRu3dh5pzM9KNqDWDHzh5WR9v4wfY","props":{"account_creation_fee":"3.000
        GOLOS","maximum_block_size":65536,"sbd_interest_rate":200},"sbd_exchange_rate":{"base":"10.544
        GBG","quote":"1.000 GOLOS"},"last_sbd_exchange_update":"2018-01-13T17:00:09","last_work":"0000000000000000000000000000000000000000000000000000000000000000","running_version":"0.16.3","hardfork_version_vote":"0.16.0","hardfork_time_vote":"2017-03-01T12:00:00"},{"id":148,"owner":"on0tole","created":"2016-10-18T11:47:18","url":"https://golos.io/ru--golos/@on0tole/eksklyuzivnoe-intervyu-s-kandidatom-v-delegaty-on0tole","votes":"134193383358529929","virtual_last_update":"2588409841036197926237806117","virtual_position":"232546437200392061312859193318090350979","virtual_scheduled_time":"2588410643877046142307662843","total_missed":571,"last_aslot":13029018,"last_confirmed_block_num":12984057,"pow_worker":0,"signing_key":"GLS5W9ooXHbM[...]
