---
http_interactions:
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"current_median_history":{"base":"10.097 GBG","quote":"1.000
        GOLOS"},"price_history":[{"base":"1.000 GBG","quote":"0.094 GOLOS"},{"base":"10.694
        GBG","quote":"1.000 GOLOS"},{"base":"11.074 GBG","quote":"1.000 GOLOS"},{"base":"10.960
        GBG","quote":"1.000 GOLOS"},{"base":"10.960 GBG","quote":"1.000 GOLOS"},{"base":"11.105
        GBG","quote":"1.000 GOLOS"},{"base":"11.136 GBG","quote":"1.000 GOLOS"},{"base":"11.074
        GBG","quote":"1.000 GOLOS"},{"base":"11.163 GBG","quote":"1.000 GOLOS"},{"base":"11.169
        GBG","quote":"1.000 GOLOS"},{"base":"11.169 GBG"[...]
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"id":0,"head_block_number":12984024,"head_block_id":"00c61ed8247612549086d02997880a81f70af95d","time":"2018-01-13T20:29:15","current_witness":"arcange","total_pow":634637,"num_pow_witnesses":172,"virtual_supply":"132854641.903
        GOLOS","current_supply":"131504031.778 GOLOS","confidential_supply":"0.000
        GOLOS","current_sbd_supply":"13637110.439 GBG","confidential_sbd_supply":"0.000
        GBG","total_vesting_fund_steem":"97052555.749 GOLOS","total_vesting_shares":"359174520259.247762
        GESTS","total_reward_fund_steem":"38113.520 GOLOS","total_reward_shares2":"4430233186779428859445762409391","sbd_interest_rate":1000,"sbd_print_rate":10000,"average_block_size":1625,"maximum_block_size":65536,"current_aslot":13028985,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":12984009,"max_virtual_bandwidth":"5986734968066277376","current_reserve_ratio":20000,"vote_regeneration_per_day":40}}'
  recorded_at: Sat, 13 Jan 2018 20:29:15 GMT
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":3,"result":{"id":0,"head_block_number":12984024,"head_block_id":"00c61ed8247612549086d02997880a81f70af95d","time":"2018-01-13T20:29:15","current_witness":"arcange","total_pow":634637,"num_pow_witnesses":172,"virtual_supply":"132854641.903
        GOLOS","current_supply":"131504031.778 GOLOS","confidential_supply":"0.000
        GOLOS","current_sbd_supply":"13637110.439 GBG","confidential_sbd_supply":"0.000
        GBG","total_vesting_fund_steem":"97052555.749 GOLOS","total_vesting_shares":"359174520259.247762
        GESTS","total_reward_fund_steem":"38113.520 GOLOS","total_reward_shares2":"4430233186779428859445762409391","sbd_interest_rate":1000,"sbd_print_rate":10000,"average_block_size":1625,"maximum_block_size":65536,"current_aslot":13028985,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":12984009,"max_virtual_bandwidth":"5986734968066277376","current_reserve_ratio":20000,"vote_regeneration_per_day":40}}'
  recorded_at: Sat, 13 Jan 2018 20:29:16 GMT
recorded_with: VCR 3.0.3
