---
http_interactions:
- request:
    method: get
    uri: https://api.vaultoro.com/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": "success",
          "data": {
            "MarketCurrency": "GLD",
            "BaseCurrency": "BTC",
            "MarketCurrencyLong": "Gold",
            "BaseCurrencyLong": "Bitcoin",
            "MinTradeSize": 1e-8,
            "MarketName": "BTC-GLD",
            "IsActive": true,
            "MinUnitQty": 0.0002,
            "MinPrice": 0.000002,
            "LastPrice": "0.00505000",
            "24hLow": "0.00505000",
            "24hHigh": "0.00524800",
            "24hVolume": "559.029"
          }
        }
  recorded_at: Sun, 13 May 2018 05:51:35 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["8399.99999999",0.49886667],["8400.00000000",0.54060405],["8401.65883948",0.00071556],["8407.36030747",0.00673712],["8408.99556380",0.00023844],["8416.38449000",0.00023823],["8417.88582362",0.00846629],["8418.11929840",0.03],["8418.75312019",2.994],["8420.22000000",0.0013255]],"bids":[["8399.00000000",1.35536971],["8380.70123401",0.24],["8380.67850818",0.4],["8380.41619672",0.4],["8380.32702653",0.01050555],["8380.00000000",0.02422588],["8379.05236560",0.0002381],["8374.21929840",0.03],["8369.22383778",0.0046837],["8369.16000000",0.003]],"isFrozen":"0","seq":239043566}'
  recorded_at: Sun, 13 May 2018 05:51:35 GMT
recorded_with: VCR 3.0.3
