---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_witnesses_by_vote",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_witnesses_by_vote.params=['',19]
      X-Jussi-Request-Id:
      - 1515870210.094-8443036-432-172.31.9.230-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":10293,"owner":"jesta","created":"1970-01-01T00:00:00","url":"http:\/\/jesta.us","votes":"69339878367953367","virtual_last_update":"281562861943911218057895285","virtual_position":"261808618787301776638888102588603636911","virtual_scheduled_time":"281563993669982573624272482","total_missed":513,"last_aslot":19011660,"last_confirmed_block_num":18949534,"pow_worker":0,"signing_key":"STM6hb6eCjQKtrPwkZcCGvLXchEkJHksHjUakbWzNHDeoBrVTgiUS","props":{"account_creation_fee":"0.200
        STEEM","maximum_block_size":65536,"sbd_interest_rate":0},"sbd_exchange_rate":{"base":"4.474
        SBD","quote":"1.000 STEEM"},"last_sbd_exchange_update":"2018-01-12T04:28:42","last_work":"000000024fdaaa7427e5eea962ee5330966f9a7f8edea18f27abfbb03b620b27","running_version":"0.19.2","hardfork_version_vote":"0.19.0","hardfork_time_vote":"2017-06-20T15:00:00"},{"id":12336,"owner":"timcliff","created":"2016-10-07T00:02:06","url":"https:\/\/steemit.com\/witness-category\/@timcliff\/timcliff-s-updated-witness-application","votes":"66157900047882669","virtual_last_update":"281562861943911218057895285","virtual_position":"296246635108756301098001035350255729364","virtual_scheduled_time":"281563527559533544502797173","total_missed":75,"last_aslot":19011662,"last_confirmed_block_num":18949536,"pow_worker":0,"signing_key":"STM5AVZZA9fJL[...]
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_witnesses_by_vote",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[{"id":10293,"owner":"jesta","created":"1970-01-01T00:00:00","url":"http://jesta.us","votes":[...]
