---
http_interactions:
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''condenser_api.get_feed_history''\n    {\"name\":\"condenser_api.get_feed_history\",\"api\":{\"get_account_bandwidth\":42,\"get_account_count\":35,\"get_account_history\":37,\"get_account_references\":32,\"get_account_votes\":57,\"get_accounts\":31,\"get_active_votes\":56,\"get_active_witnesses\":67,\"get_block\":18,\"get_block_header\":17,\"get_chain_properties\":23,\"get_comment_discussions_by_payout\":5,\"get_config\":21,\"get_content\":58,\"get_content_replies\":59,\"get_conversion_requests\":36,\"get_current_median_history_price\":25,\"get_discussions_by_active\":8,\"get_discussions_by_author_before_date\":60,\"get_discussions_by_blog\":14,\"get_discussions_by_cashout\":9,\"get_discussions_by_children\":11,\"get_discussions_by_comments\":15,\"get_discussions_by_created\":7,\"get_discussions_by_feed\":13,\"get_discussions_by_hot\":12,\"get_discussions_by_payout\":3,\"get_discussions_by_promoted\":16,\"get_discussions_by_trending\":6,\"get_discussions_by_votes\":10,\"get_dynamic_global_properties\":22,\"get_escrow\":40,\"get_expiring_vesting_delegations\":46,\"get_feed_history\":24,\"get_hardfork_version\":27,\"get_key_references\":30,\"get_liquidity_queue\":49,\"get_miner_queue\":68,\"get_next_scheduled_hardfork\":28,\"get_open_orders\":48,\"get_ops_in_block\":19,\"get_order_book\":47,\"get_owner_history\":38,\"get_post_discussions_by_payout\":4,\"get_potential_signatures\":53,\"get_recovery_request\":39,\"get_replies_by_last_update\":61,\"get_required_signatures\":52,\"get_reward_fund\":29,\"get_savings_withdraw_from\":43,\"get_savings_withdraw_to\":44,\"get_state\":20,\"get_tags_used_by_author\":2,\"get_transaction\":51,\"get_transaction_hex\":50,\"get_trending_tags\":1,\"get_vesting_delegations\":45,\"get_withdraw_routes\":41,\"get_witness_by_account\":63,\"get_witness_count\":66,\"get_witness_schedule\":26,\"get_witnesses\":62,\"get_witnesses_by_vote\":64,\"lookup_account_names\":33,\"lookup_accounts\":34,\"lookup_witness_accounts\":65,\"set_block_applied_callback\":0,\"verify_account_authority\":55,\"verify_authority\":54}}\n    th_a  api_connection.hpp:109
        call\n\n    {\"call.method\":\"condenser_api.get_feed_history\",\"call.params\":[]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":109,"method":"call","hostname":"","thread_name":"th_a","timestamp":"2018-05-13T05:50:25"},"format":"itr
        != _by_name.end(): no method with name ''${name}''","data":{"name":"condenser_api.get_feed_history","api":{"get_account_bandwidth":42,"get_account_count":35,"get_account_history":37,"get_account_references":32,"get_account_votes":57,"get_accounts":31,"get_active_votes":56,"get_active_witnesses":67,"get_block":18,"get_block_header":17,"get_chain_properties":23,"get_comment_discussions_by_payout":5,"get_config":21,"get_content":58,"get_content_replies":59,"get_conversion_requests":36,[...]
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 504
      message: Gateway Time-out
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>504 Gateway Time-out</h1></center>\r\n<hr><center>nginx/1.10.3
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 13 May 2018 05:50:56 GMT
- request:
    method: get
    uri: https://steemd.pevo.science/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:50:57 GMT
- request:
    method: post
    uri: https://steemd.pevo.science/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''co[...]
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000063021419808039'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-13T05:50:58.227383","source_commit":"24ca097c3768608061af6ca629317facfbfde1a4","docker_tag":"latest"}'
  recorded_at: Sun, 13 May 2018 05:50:58 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001096278081231447'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"2.834
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"3.513 SBD","quote":"1.000
        STEEM"},{"base":"3.491 SBD","quote":"1.000 STEEM"},{"base":"3.486 SBD","quote":"1.000
        STEEM"},{"base":"3.480 SBD","quote":"1.000 STEEM"},{"base":"3.479 SBD","quote":"1.000
        STEEM"},{"base":"3.465 SBD","quote":"1.000 STEEM"},{"base":"3.467 SBD","quote":"1.000
        STEEM"},{"base":"3.452 SBD","quote":"1.000 STEEM"},{"base":"3.387 SBD","quote":"1.000
        STEEM"},{"base":"3.381 SBD","quote":"1.000 STEEM"},{"base":"3.384 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000037556319413871'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"head_block_number":22386131,"head_block_id":"015595d3f575af4f5c90155fe5af55543e1273b3","time":"2018-05-13T05:50:57","current_witness":"jerrybanfield","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273038698.792
        STEEM","current_supply":"268270656.358 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13512632.260 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191177206.752 STEEM","total_vesting_shares":"389087776324.915806
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"371465078.703096
        VESTS","pending_rewarded_vesting_steem":"181089.160 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22451819,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22386113,"vote_power_reserve_rate":10,"average_block_size":11486,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"},"id":2}'
  recorded_at: Sun, 13 May 2018 05:50:59 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000213116232520957'
    body:
      encoding: ASCII-8BIT
      string: '{"id":3,"jsonrpc":"2.0","result":{"head_block_number":22386131,"head_block_id":"015595d3f575af4f5c90155fe5af55543e1273b3","time":"2018-05-13T05:50:57","current_witness":"jerrybanfield","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273038698.792
        STEEM","current_supply":"268270656.358 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13512632.260 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191177206.752 STEEM","total_vesting_shares":"389087776324.915806
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"371465078.703096
        VESTS","pending_rewarded_vesting_steem":"181089.160 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22451819,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22386113,"vote_power_reserve_rate":10,"average_block_size":11486,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sun, 13 May 2018 05:50:59 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_reward_fund","params":["post"],"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000905898915052655'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"name":"post","reward_balance":"738914.653
        STEEM","recent_claims":"454579517881775015","last_update":"2018-05-13T05:50:57","content_constant":"2000000000000","percent_curation_rewards":2500,"percent_content_rewards":10000,"author_reward_curve":"linear","curation_reward_curve":"square_root"},"id":4}'
  recorded_at: Sun, 13 May 2018 05:50:59 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000411550820963136'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_reward_fund","params":["post"],"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000546352254184930'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"name":"post","reward_balance":"738951.384
        STEEM","recent_claims":"454560395530342865","last_update":"2018-05-13T06:03:09","content_constant":"2000000000000","percent_curation_rewards":2500,"percent_content_rewards":10000,"author_reward_curve":"linear","curation_reward_curve":"square_root"},"id":4}'
  recorded_at: Sun, 13 May 2018 06:03:11 GMT
recorded_with: VCR 3.0.3
