---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - 1515870608.117-8504364-422-172.31.18.180-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":0,"current_median_history":{"base":"5.219 SBD","quote":"1.000
        STEEM"},"price_history":[{"base":"5.422 SBD","quote":"1.000 STEEM"},{"base":"5.050
        SBD","quote":"1.000 STEEM"},{"base":"5.190 SBD","quote":"1.000 STEEM"},{"base":"5.219
        SBD","quote":"1.000 STEEM"},{"base":"5.195 SBD","quote":"1.000 STEEM"},{"base":"5.224
        SBD","quote":"1.000 STEEM"},{"base":"5.208 SBD","quote":"1.000 STEEM"},{"base":"5.054
        SBD","quote":"1.000 STEEM"},{"base":"5.026 SBD","quote":"1.000 STEEM"},{"base":"5.305
        SBD","quote":"1.000 STEEM"},{"base":"5.288 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Request-Id:
      - 1515870608.392-8508504-436-172.31.18.180-47.208.249.50
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":18949676,"head_block_id":"0121262c918e0a6d8f5569b52f62af36c303ad04","time":"2018-01-13T19:10:06","current_witness":"utopian-io","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"263768813.015
        STEEM","current_supply":"262619205.934 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"5999799.356 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"199303809.186 STEEM","total_vesting_shares":"408152553116.724988
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"278501447.488891
        VESTS","pending_rewarded_vesting_steem":"135287.830 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":19011802,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":18949656,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":14162,"max_virtual_bandwidth":"264241152000000000000"},"id":2}'
  recorded_at: Sat, 13 Jan 2018 19:10:08 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_reward_fund",["post"]],"id":4,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_reward_fund.params=['post']
      X-Jussi-Request-Id:
      - 1515870609.052-8498460-427-172.31.9.230-47.208.249.50
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"name":"post","reward_balance":"699033.921
        STEEM","recent_claims":"376618075848839150","last_update":"2018-01-13T19:10:06","content_constant":"2000000000000","percent_curation_rewards":2500,"percent_content_rewards":10000,"author_reward_curve":"linear","curation_reward_curve":"square_root"},"id":4}'
  recorded_at: Sat, 13 Jan 2018 19:10:09 GMT
recorded_with: VCR 3.0.3
