---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00043581",92.6985747],["0.00043600",39.94],["0.00043619",2.30395836],["0.00043632",25.5009171],["0.00043650",4.3863392],["0.00043700",30],["0.00043727",6.13503254],["0.00043790",241.47517967],["0.00043828",121.80165669],["0.00043829",11.01143957]],"bids":[["0.00043450",46.02991945],["0.00043363",111.58249646],["0.00043362",1.63129],["0.00043359",21.07476896],["0.00043234",976.024],["0.00043233",47.18617723],["0.00043183",0.28277364],["0.00043120",0.337],["0.00043100",3.27678398],["0.00043025",3.62579895]],"isFrozen":"0","seq":71835368}'
  recorded_at: Sat, 13 Jan 2018 20:28:15 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_SBD&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00045878",23.19319775],["0.00046109",5.02055289],["0.00046340",3.26456549],["0.00046625",331.01408076],["0.00046626",0.30360896],["0.00046627",140.19666145],["0.00046628",74.16869479],["0.00046835",1.33449523],["0.00046839",1.06539816],["0.00046885",4.12471302]],"bids":[["0.00045876",1.97442029],["0.00045851",0.4362],["0.00045717",5.86827658],["0.00045144",0.4338954],["0.00045137",7.74714063],["0.00045136",4.43105282],["0.00045134",10.559392],["0.00045113",0.7785],["0.00045059",52.34015402],["0.00045000",26.01749248]],"isFrozen":"0","seq":18703737}'
  recorded_at: Sat, 13 Jan 2018 20:28:15 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["14206.63903971",0.0013724],["14207.99999992",0.00052777],["14207.99999993",0.00087973],["14207.99999994",0.00130207],["14207.99999995",0.00045729],["14207.99999996",0.00073887],["14207.99999997",0.0010909],["14207.99999998",0.00256895],["14207.99999999",0.00052769],["14208.00000000",0.02560605]],"bids":[["14203.31584931",2.86009349],["14170.31585243",1.74],["14170.31585242",0.7591572],["14170.31585239",0.72465657],["14170.31585234",1.01498161],["14170.31585116",0.38617055],["14160.02760734",0.05901248],["14146.05738960",0.00021797],["14143.47470581",0.5],["14134.40309255",1.15]],"isFrozen":"0","seq":185552417}'
  recorded_at: Sat, 13 Jan 2018 20:28:15 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-golos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 20:28:18 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GOLOS","High":0.00002997,"Low":0.00002795,"Volume":351838.64790975,"Last":0.00002950,"BaseVolume":10.22907419,"TimeStamp":"2018-01-13T20:28:15.2","Bid":0.00002950,"Ask":0.00002957,"OpenBuyOrders":321,"OpenSellOrders":1680,"PrevDay":0.00002868,"Created":"2017-01-19T23:23:12.41"}]}'
  recorded_at: Sat, 13 Jan 2018 20:28:16 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-gbg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 20:28:18 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GBG","High":0.00002866,"Low":0.00002576,"Volume":583382.49162804,"Last":0.00002609,"BaseVolume":15.74526919,"TimeStamp":"2018-01-13T20:28:10.603","Bid":0.00002577,"Ask":0.00002609,"OpenBuyOrders":313,"OpenSellOrders":2324,"PrevDay":0.00002824,"Created":"2017-02-12T00:38:21.023"}]}'
  recorded_at: Sat, 13 Jan 2018 20:28:16 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=usdt-btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 20:28:16 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":14583.00000000,"Low":13500.00000000,"Volume":3054.33211546,"Last":14135.00000043,"BaseVolume":43160503.34242497,"TimeStamp":"2018-01-13T20:28:14.637","Bid":14160.00000044,"Ask":14169.00000000,"OpenBuyOrders":5299,"OpenSellOrders":5863,"PrevDay":13930.00000000,"Created":"2015-12-11T06:31:40.633"}]}'
  recorded_at: Sat, 13 Jan 2018 20:28:16 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-steem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 20:28:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-STEEM","High":0.00046379,"Low":0.00038402,"Volume":2300823.53107581,"Last":0.00043859,"BaseVolume":986.48301771,"TimeStamp":"2018-01-13T20:28:16.387","Bid":0.00043501,"Ask":0.00043839,"OpenBuyOrders":1605,"OpenSellOrders":6391,"PrevDay":0.00039286,"Created":"2016-04-17T01:22:13.35"}]}'
  recorded_at: Sat, 13 Jan 2018 20:28:16 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-sbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 20:28:19 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-SBD","High":0.00052100,"Low":0.00044128,"Volume":220008.95549085,"Last":0.00046653,"BaseVolume":106.41923386,"TimeStamp":"2018-01-13T20:28:16.713","Bid":0.00046655,"Ask":0.00047175,"OpenBuyOrders":259,"OpenSellOrders":2415,"PrevDay":0.00045227,"Created":"2016-07-09T19:02:08.943"}]}'
  recorded_at: Sat, 13 Jan 2018 20:28:16 GMT
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"current_median_history":{"base":"10.097 GBG","quote":"1.000
        GOLOS"},"price_history":[{"base":"1.000 GBG","quote":"0.094 GOLOS"},{"base":"10.694
        GBG","quote":"1.000 GOLOS"},{"base":"11.074 GBG","quote":"1.000 GOLOS"},{"base":"10.960
        GBG","quote":"1.000 GOLOS"},{"base":"10.960 GBG","quote":"1.000 GOLOS"},{"base":"11.105
        GBG","quote":"1.000 GOLOS"},{"base":"11.136 GBG","quote":"1.000 GOLOS"},{"base":"11.074
        GBG","quote":"1.000 GOLOS"},{"base":"11.163 GBG","quote":"1.000 GOLOS"},{"base":"11.169
        GBG","quote":"1.000 GOLOS"},{"base":"11.169 GBG"[...]
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":2,"result":{"id":0,"head_block_number":12984005,"head_block_id":"00c61ec595eb7572e17c42a063c194e3da812c20","time":"2018-01-13T20:28:18","current_witness":"lehard","total_pow":634636,"num_pow_witnesses":172,"virtual_supply":"132854606.717
        GOLOS","current_supply":"131503996.593 GOLOS","confidential_supply":"0.000
        GOLOS","current_sbd_supply":"13637110.429 GBG","confidential_sbd_supply":"0.000
        GBG","total_vesting_fund_steem":"97052543.976 GOLOS","total_vesting_shares":"359174511355.062476
        GESTS","total_reward_fund_steem":"38090.095 GOLOS","total_reward_shares2":"4430222189667953875432909506682","sbd_interest_rate":1000,"sbd_print_rate":10000,"average_block_size":1681,"maximum_block_size":65536,"current_aslot":13028966,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":12983990,"max_virtual_bandwidth":"5986734968066277376","current_reserve_ratio":20000,"vote_regeneration_per_day":40}}'
  recorded_at: Sat, 13 Jan 2018 20:28:18 GMT
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":3,"result":{"id":0,"head_block_number":12984005,"head_block_id":"00c61ec595eb7572e17c42a063c194e3da812c20","time":"2018-01-13T20:28:18","current_witness":"lehard","total_pow":634636,"num_pow_witnesses":172,"virtual_supply":"132854606.717
        GOLOS","current_supply":"131503996.593 GOLOS","confidential_supply":"0.000
        GOLOS","current_sbd_supply":"13637110.429 GBG","confidential_sbd_supply":"0.000
        GBG","total_vesting_fund_steem":"97052543.976 GOLOS","total_vesting_shares":"359174511355.062476
        GESTS","total_reward_fund_steem":"38090.095 GOLOS","total_reward_shares2":"4430222189667953875432909506682","sbd_interest_rate":1000,"sbd_print_rate":10000,"average_block_size":1681,"maximum_block_size":65536,"current_aslot":13028966,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":12983990,"max_virtual_bandwidth":"5986734968066277376","current_reserve_ratio":20000,"vote_regeneration_per_day":40}}'
  recorded_at: Sat, 13 Jan 2018 20:28:18 GMT
recorded_with: VCR 3.0.3
