---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_STEEM&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00043046",3.0e-8],["0.00043065",2.7522178],["0.00043081",1.19697509],["0.00043124",1.5630852],["0.00043212",93.94054928],["0.00043227",16.12607952],["0.00043232",7.66],["0.00043268",1.86824894],["0.00043272",0.23538388],["0.00043296",806.0862011]],"bids":[["0.00042900",41.15267839],["0.00042898",29.84132007],["0.00042870",19.29978942],["0.00042790",1657.941],["0.00042786",419.32346546],["0.00042765",2.52779142],["0.00042652",48.78552002],["0.00042635",2.83804386],["0.00042555",0.337],["0.00042516",100.7650013]],"isFrozen":"0","seq":71827012}'
  recorded_at: Sat, 13 Jan 2018 19:40:16 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_SBD&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.00046628",567.19692128],["0.00046839",1.06539816],["0.00046885",4.12471302],["0.00046900",67.31689],["0.00046931",1.7899492],["0.00046937",1.11543948],["0.00046939",1.4020979],["0.00046983",3.50167193],["0.00047030",3.60794563],["0.00047091",0.21629735]],"bids":[["0.00046234",0.4326],["0.00046115",0.30452253],["0.00046114",0.4337],["0.00045779",0.4369],["0.00045674",0.7843],["0.00045564",2.80177333],["0.00045430",22.01184419],["0.00045428",339.8842017],["0.00045284",213],["0.00045279",15.2817147]],"isFrozen":"0","seq":18701446}'
  recorded_at: Sat, 13 Jan 2018 19:40:16 GMT
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["14089.00000000",0.09172547],["14099.99999999",0.57982751],["14100.00000000",0.00753674],["14109.46675102",0.1772505],["14109.99999841",0.00060227],["14109.99999856",0.00074407],["14109.99999876",0.0010984],["14109.99999999",0.00060239],["14112.71575204",0.00053142],["14112.71575218",0.00166512]],"bids":[["14069.62585208",1.43796],["14069.62585190",2.13315028],["14069.62585179",0.8],["14069.62585167",0.48204483],["14069.62585164",0.0071075],["14069.62585101",0.01584974],["14069.62584968",0.01123563],["14069.62579994",0.4181359],["14066.00000000",0.00705915],["14055.97182640",0.00015]],"isFrozen":"0","seq":185537303}'
  recorded_at: Sat, 13 Jan 2018 19:40:16 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-golos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:40:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GOLOS","High":0.00002997,"Low":0.00002795,"Volume":359848.76120753,"Last":0.00002940,"BaseVolume":10.45151246,"TimeStamp":"2018-01-13T19:40:13.933","Bid":0.00002940,"Ask":0.00002957,"OpenBuyOrders":319,"OpenSellOrders":1679,"PrevDay":0.00002843,"Created":"2017-01-19T23:23:12.41"}]}'
  recorded_at: Sat, 13 Jan 2018 19:40:17 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-gbg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:40:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GBG","High":0.00002866,"Low":0.00002576,"Volume":597855.06352759,"Last":0.00002579,"BaseVolume":16.15955793,"TimeStamp":"2018-01-13T19:38:10.08","Bid":0.00002579,"Ask":0.00002634,"OpenBuyOrders":314,"OpenSellOrders":2318,"PrevDay":0.00002818,"Created":"2017-02-12T00:38:21.023"}]}'
  recorded_at: Sat, 13 Jan 2018 19:40:17 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=usdt-btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:40:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":14583.00000000,"Low":13500.00000000,"Volume":3128.69598728,"Last":14052.00000000,"BaseVolume":44156972.52131056,"TimeStamp":"2018-01-13T19:40:18.903","Bid":14040.65000002,"Ask":14054.19000000,"OpenBuyOrders":5256,"OpenSellOrders":5866,"PrevDay":13671.99999999,"Created":"2015-12-11T06:31:40.633"}]}'
  recorded_at: Sat, 13 Jan 2018 19:40:17 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-steem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:40:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-STEEM","High":0.00046379,"Low":0.00038402,"Volume":2211321.35719315,"Last":0.00043031,"BaseVolume":945.90892449,"TimeStamp":"2018-01-13T19:40:19.01","Bid":0.00043298,"Ask":0.00043303,"OpenBuyOrders":1609,"OpenSellOrders":6375,"PrevDay":0.00039529,"Created":"2016-04-17T01:22:13.35"}]}'
  recorded_at: Sat, 13 Jan 2018 19:40:17 GMT
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=btc-sbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Jan 2018 19:40:19 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-SBD","High":0.00052100,"Low":0.00044128,"Volume":214667.97541923,"Last":0.00047400,"BaseVolume":103.87956260,"TimeStamp":"2018-01-13T19:40:18.26","Bid":0.00047400,"Ask":0.00047467,"OpenBuyOrders":262,"OpenSellOrders":2412,"PrevDay":0.00045229,"Created":"2016-07-09T19:02:08.943"}]}'
  recorded_at: Sat, 13 Jan 2018 19:40:17 GMT
recorded_with: VCR 3.0.3
