---
http_interactions:
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":"cosgrove","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        7 bad_cast_exception: Bad Cast
        Invalid cast from string_type to Array
            {"type":"string_type"}
            th_a  variant.cpp:537 get_array
  recorded_at: Sun, 13 May 2018 05:53:00 GMT
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:53:01 GMT
[...]
- request:
    method: get
    uri: https://steemd.privex.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Sun, 13 May 2018 05:53:02 GMT
- request:
    method: post
    uri: https://steemd.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":"cosgrove","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        7 bad_cast_exception: Bad Cast
        Invalid cast from string_type to Array
            {"type":"string_type"}
            th_a  variant.cpp:537 get_array
  recorded_at: Sun, 13 May 2018 05:53:03 GMT
- request:
    method: get
    uri: https://rpc.steemliberator.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.10.3 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 13 May 2018 05:53:06 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000153986488302946'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-13T05:53:07.235465","source_commit":"6281621b66e79fe300ea2f018a3180dc3e5a1154","docker_tag":"latest"}'
  recorded_at: Sun, 13 May 2018 05:53:07 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":"cosgrove","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32600,"message":"Invalid Request","data":{"error_id":"b6e6a55f-7dbc-4777-aa3c-b43af2bbcce1","request":{"amzn_trace_id":"Root=1-5af7d2c3-eb7685381001a0408a4d5da0","jussi_request_id":null}}},"id":1}'
  recorded_at: Sun, 13 May 2018 05:53:07 GMT
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["nobody","nothing"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''condenser_api.get_content''\n    {\"name\":\"condenser_api.get_content\",\"api\":{\"get_account_bandwidth\":42,\"get_account_count\":35,\"get_account_history\":37,\"get_account_references\":32,\"get_account_votes\":57,\"get_accounts\":31,\"get_active_votes\":56,\"get_active_witnesses\":67,\"get_block\":18,\"get_block_header\":17,\"get_chain_properties\":23,\"get_comment_discussions_by_payout\":5,\"get_config\":21,\"get_content\":58,\"get_content_replies\":59,\"get_conversion_requests\":36,\"get_current_median_history_price\":25,\"get_discussions_by_active\":8,\"get_discussions_by_author_before_date\":60,\"get_discussions_by_blog\":14,\"get_discussions_by_cashout\":9,\"get_discussions_by_children\":11,\"get_discussions_by_comments\":15,\"get_discussions_by_created\":7,\"get_discussions_by_feed\":13,\"get_discussions_by_hot\":12,\"get_discussions_by_payout\":3,\"get_discussions_by_promoted\":16,\"get_discussions_by_trending\":6,\"get_discussions_by_votes\":10,\"get_dynamic_global_properties\":22,\"get_escrow\":40,\"get_expiring_vesting_delegations\":46,\"get_feed_history\":24,\"get_hardfork_version\":27,\"get_key_references\":30,\"get_liquidity_queue\":49,\"get_miner_queue\":68,\"get_next_scheduled_hardfork\":28,\"get_open_orders\":48,\"get_ops_in_block\":19,\"get_order_book\":47,\"get_owner_history\":38,\"get_post_discussions_by_payout\":4,\"get_potential_signatures\":53,\"get_recovery_request\":39,\"get_replies_by_last_update\":61,\"get_required_signatures\":52,\"get_reward_fund\":29,\"get_savings_withdraw_from\":43,\"get_savings_withdraw_to\":44,\"get_state\":20,\"get_tags_used_by_author\":2,\"get_transaction\":51,\"get_transaction_hex\":50,\"get_trending_tags\":1,\"get_vesting_delegations\":45,\"get_withdraw_routes\":41,\"get_witness_by_account\":63,\"get_witness_count\":66,\"get_witness_schedule\":26,\"get_witnesses\":62,\"get_witnesses_by_vote\":64,\"lookup_account_names\":33,\"lookup_accounts\":34,\"lookup_witness_accounts\":65,\"set_block_applied_callback\":0,\"verify_account_authority\":55,\"verify_authority\":54}}\n    th_a  api_connection.hpp:109
        call\n\n    {\"call.method\":\"condenser_api.get_content\",\"call.params\":[\"nobody\",\"nothing\"]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":109,"method":"call","hostname":"","thread_name":"th_a","timestamp":"2018-05-13T05:53:31"},"format":"itr
        != _by_name.end(): no method with name ''${name}''","data":{"name":"condenser_api.get_content","api":{"get_account_bandwidth":42,"get_account_count":35,"get_account_history":37,"get_account_references":32,"get_account_votes":57,"get_accounts":31,"get_active_votes":56,"get_active_witnesses":67,"get_block":18,"get_block_header":17,"get_chain_properties":23,"get_comment_discussions_by_payout":5,"get_config":21,"get_content":58,"get_content_replies":59,"get_conversion_requests":36,"get_[...]
[...]
- request:
    method: get
    uri: https://rpc.steemviz.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:53:33 GMT
- request:
    method: post
    uri: https://rpc.steemviz.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["nobody","nothing"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with[...]
- request:
    method: get
    uri: https://rpc.buildteam.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:53:35 GMT
- request:
    method: post
    uri: https://rpc.buildteam.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["nobody","nothing"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with[...]
- request:
    method: get
    uri: https://steemd.minnowsupportproject.org/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Sun, 13 May 2018 05:53:37 GMT
- request:
    method: post
    uri: https://steemd.minnowsupportproject.org/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["nobody","nothing"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end():[...]
- request:
    method: get
    uri: https://rpc.curiesteem.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:53:41 GMT
- request:
    method: post
    uri: https://rpc.curiesteem.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["nobody","nothing"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method wi[...]
[...]
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000526350490373254'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-13T05:53:45.960603","source_commit":"24ca097c3768608061af6ca629317facfbfde1a4","docker_tag":"latest"}'
  recorded_at: Sun, 13 May 2018 05:53:46 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["nobody","nothing"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000193866930558831'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"author":"","permlink":"","category":"","parent_author":"","parent_permlink":"","title":"","body":"","json_metadata":"","last_update":"1970-01-01T00:00:00","created":"1970-01-01T00:00:00","active":"1970-01-01T00:00:00","last_payout":"1970-01-01T00:00:00","depth":0,"children":0,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1970-01-01T00:00:00","max_cashout_time":"1970-01-01T00:00:00","total_vote_weight":0,"reward_weight":0,"total_payout_value":"0.000
        STEEM","curator_payout_value":"0.000 STEEM","author_rewards":0,"net_votes":0,"root_author":"","root_permlink":"","max_accepted_payout":"0.000
        STEEM","percent_steem_dollars":0,"allow_replies":false,"allow_votes":false,"allow_curation_rewards":false,"beneficiaries":[],"url":"","root_title":"","pending_payout_value":"0.000
        STEEM","total_pending_payout_value":"0.000 STEEM","active_votes":[],"replies":[],"author_reputation":0,"promoted":"0.000
        SBD","body_length":0,"reblogged_by":[]},"id":1}'
  recorded_at: Sun, 13 May 2018 05:53:47 GMT
[...]
