---
http_interactions:
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":"cosgrove","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        7 bad_cast_exception: Bad Cast
        Invalid cast from string_type to Array
            {"type":"string_type"}
            th_a  variant.cpp:537 get_array
  recorded_at: Sun, 13 May 2018 05:53:48 GMT
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 13 May 2018 05:53:49 GMT
[...]
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000209086479331955'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-13T05:53:53.157341","source_commit":"6281621b66e79fe300ea2f018a3180dc3e5a1154","docker_tag":"latest"}'
  recorded_at: Sun, 13 May 2018 05:53:53 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":"cosgrove","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32600,"message":"Invalid Request","data":{"error_id":"badd715d-4dd9-4649-89ed-a93ab9bc7523","request":{"amzn_trace_id":"Root=1-5af7d2f2-a0fdea003e76fc6bd12e503d","jussi_request_id":null}}},"id":1}'
  recorded_at: Sun, 13 May 2018 05:53:54 GMT
recorded_with: VCR 3.0.3
